<div id="footer">
	<div class="left">
		Made by <a href="https://slight.space">Jeremy Bankes © 2019</a> 
	</div>

	<div class="center">
		{{> navigation}}
	</div>

	<div class="right">
		<span>Email: jeremy.bankes@gmail.com</span>
		<span>Phone: +1 (315) 636 5412</span>
	</div>
</div>