<div id="header">
	<div id="heading">
		<h1>Generic</h1>
		<span>This site was made with love by <a href="https://slight.space" target="_blank">Jeremy Bankes</a></span>
	</div>
	{{> navigation}}
</div>