<!DOCTYPE html>
<html>

<head>
	<title>Generic - {{page}}</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
	{{> header}}

	<div id="content">
		{{{body}}}
	</div>

	{{> footer}}
</body>

</html>